<a href="https://colab.research.google.com/github/rishuatgithub/queryengine/blob/dev/astsample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import ast

In [7]:
with open("./data/query.txt","r") as source:
    tree = ast.parse(source.read())

SyntaxError: invalid syntax (<unknown>, line 1)